.characters {
    display: grid;
    justify-content: center;
    grid-gap: 15px;
}

img {
    width: 250px;
    height: 300px;
}

@media (min-width:769px) {
    .characters {
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
}