body {
    background: black;
}

svg {
    margin-bottom: 15px;
}

.characters {
    display: grid;
    justify-content: center;
    grid-gap: 15px;
}

img {
    padding-left: 20px;
    width: 300px;
    height: 300px;
}

@media (min-width:769px) {
    .characters {
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
}